.catalog {
  @include display_flex_mixin();
  @include wrapper(100%);

  &__menu {
    margin: 0 20px;
    flex: 1;

    @include media-screen($screen-lg) {
      margin: 0;
      padding: 20px 30px;
    }
  }

  &__items {
    flex: 3;
  }

  &__product {
    flex: 3;
  }

  @import
    "menu-catalog/menu-catalog",
    "items-catalog/items-catalog",
    "product-catalog/product-catalog";
}