.tabs {
  border: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  &__nav {
    @include display_flex_mixin(column);

    &-link {
      padding: 10px 15px;
      width: 100%;
      cursor: pointer;
    }

    .active {
      background: $GREEN;
      color: #fff;
    }
  }

  &__content {
    &-pane {
      display: none;
      padding: 15px;
    }

    .show {
      display: flex;
    }
  }
}