.company {
  @include wrapper(60%);

  .brand {
    margin: 30px 0;
  }

  .company__about .plain-text {
    margin: 25px 0;
    font-size: 18px;
    color: $GREEN;
    
    &:first-child {
      margin-top: 0;
    }
  }

  .company-links {
    width: 100%;

    &__background {
      width: 100%;
      padding: 25px 0;
      border: 1px solid $GREEN;
      border-radius: 25px;
      @include display_mixin();
      margin: 25px 0;
      text-align: center;
    }

    &__link {
      font-weight: 600;
    }
  }

  .arrow-bottom {
    width: 100%;
    @include display_flex_mixin(column, center, center);
    position: relative;
    height: 50px;

    i {
      position: absolute;
      font-size: 100px;
      color: $GREEN;
      top: 0;

      &:nth-child(1) {
        opacity: 0.5;
        top: 0;
      }

      &:nth-child(2) {
        opacity: 0.6;
        top: 30px;
      }

      &:nth-child(3) {
        opacity: 0.7;
        top: 60px;
      }
    }
  }
}