.contacts {
  padding: 50px;

  h1 {
    margin-bottom: 40px;
    font-size: 40px;
    grid-column: 1 / 3;
  }
}

.content {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  @include display_mixin(grid, 30% 80%, 1fr, 20px);
}

.company-info {
  @include display_mixin(grid, 1fr 1fr, repeat(3, 50px), 20px);
  height: 100%;

  &__label {
    @include display_flex_mixin(row, end, center);
  }

  &__content {
    @include display_flex_mixin(row, start, center);
  }
}

.user-info{
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  padding: 10px;
  box-sizing: border-box;

  &__field {
    border: 1px solid $GREEN;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
  }

  &__label {
    text-align: right;
    margin-right: 20px;
  }

  &__label, &__field {
    margin-bottom: 20px;
  }

  .btn {
    width: 150px;
    margin: 20px;
    grid-column: 2 / 3;
    background: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
    color: $GREEN;

    &:hover {
      background: $GREEN;
      color: #fff;
    }
  }
}