.our-works {
  width: 80%;
  margin: 25px auto;
  margin-top: 50px;

  .achivements {
    width: 100%;
    @include display_mixin(grid, repeat(4, 1fr), 1fr);
    grid-gap: 20px;

    &__item {
      position: relative;
      border-radius: 25px;
      padding: 20px;
      @include display_flex_mixin(column, start, center);

      img {
        width: 100px;
        height: 100px;
        display: flex;
      }

      .plane > img {
        position: absolute;
        left: 5px;
      }

      &-icon {
        width: 100px;
        height: 100px;
        font-size: 72px;
        @include display_flex_mixin(row, center, center);
        border: 4px solid $GREEN;
        border-radius: 50%;
        padding: 15px;
        position: relative;
      }

      &-info {
        display: flex;
        text-align: center;
        padding: 10px 0;
      }
    }
  }

  .my-projects {
    width: 100%;
    margin: auto;
    height: 200px;
    @include display_mixin();
  
    .carousel {
      width: 270px * 3;
      @include display_mixin(flex, row, start);
      overflow: hidden;
      position: relative;
      z-index: 1;
  
      .btn {
        position: absolute;
        @include display_mixin();
        background: $GREEN;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        z-index: 10;
        opacity: 0.5;
        top: 50%;
        outline: none;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
  
        &--left {
          left: 25px;
        }
  
        &--right {
          right: 25px;
        }
  
        i {
          font-size: 24px;
          color: white;
        }
      }

      .carousel-item {
        flex: 0 0 auto;
        width: 250px;
        height: 150px;
        background: #333;
        margin: 0 10px;
        @include display_flex_mixin(row, center, center);
        z-index: 5;
        transition: 0.5s;
      }
    }
  }
}