.text {
  font-size: $font-md;

  &__brand {
    font-family: 'Kobzak';
    font-size: $font-brand-md;
    font-weight: bold;

    &--small {
      font-size: $font-brand-sm;
    }

    @include media-screen($screen-md) {
      font-size: $font-brand-sm;
    }
  }

  &__title {
    font-size: $font-title;
    font-weight: bold;
    text-transform: uppercase;

    &--center {
      text-align: center;
    }

    &--small {
      font-size: $font-title-sm;
    }
  }

  &__plain {
    font-size: $font-lg;
    
    &--italic {
      font-style: italic;
    }

    &--bold {
      font-weight: bold;
    }

    &--small {
      font-size: $font-md;

      @include media-screen($screen-lg) {
        font-size: $font-sm;
      }
    }

    &--smaller {
      font-size: $font-sm;
    }

    @include media-screen($screen-lg) {
      font-size: $font-sm;
    }
  }
}