#button-up {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 75px;
  background: $GREEN;
  opacity: .7;
  border-radius: 50% 0 0 0;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;

  i {
    font-size: 25px;
    color: #ffffff;
  }
}