$light-gray: #ddd;
$dark: #313131;

$GREEN: #12601e;
$main-color: #12601e;

$font-sm: 1.4rem;
$font-md: 1.6rem;
$font-lg: 1.8rem;

$font-nav: 2rem;
$font-title: 3rem;
$font-brand-md: 7.2rem;
$font-brand-sm: 4.8rem;

$screen-xl: 1440px;
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 425px;
$screen-xs: 320px;