#sec1 {
background: url(../../images/bgIndex.jpg) no-repeat;
background-size: cover;
height: 100vh;
position: relative;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: baseline;
	padding-top: 20px;

	span, p, h2 {
		color: $green;
		padding-left: 40px;
	}

	span {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 18px;
	}

	p {
		font-size: 16px;
	}
}

.short-info {
	position: absolute;
	bottom: 250px;
	left: 40px;
	display: flex;
	flex-direction: column;

	.info-item {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $green;
		padding-left: 10px;
		font-size: 20px;
		font-weight: 600;
		font-style: italic;
		word-wrap: normal;

		&:nth-child(2) {
			margin-top: 20px;
		}
	}
}