@import url(https://allfont.ru/allfont.css?fonts=american-retro);

@import 
  "abstract/font",
  "abstract/variables",
  "abstract/mixin";

.fixed {
  position: fixed !important;
  background: $GREEN;
  height: 60px !important;
  z-index: 1000 !important;
  top: 0 !important;
  left: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $GREEN;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background-size: cover;
  position: relative;
  background-color: #eaeaea;
}

section {
  @include display_flex_mixin(column);
}

.brand {
  font-family: 'Kobzak';
  font-size: 72px;
  padding: 20px 0;

  &-plain {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    font-size: 30px;

    &:nth-child(1) {
      margin-top: 100px;
    }
  }
}

@import
  "base/nav",
  "base/catalog",
  "base/tabs";

@import
  "home/home";

@import
  "factories/factories";

@import 
  "other/button_up";

@import
  "layouts/decktop";