@font-face {
  font-family: 'Kobzak';
  src: url(../font/Kobzak.otf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #12601e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
  background: #f0f0f0;
}

body {
  height: 100vh;
  background-size: cover;
  position: relative;
  background-color: #eaeaea;
  width: 100%;
}

#home {
  background: url(../../images/bgIndex.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  min-height: 500px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: auto;
  max-width: 1300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.separator--bold {
  height: 100px;
  width: 100%;
  background: #12601e;
}

.brand {
  font-family: 'Kobzak';
  font-size: 72px;
  padding: 20px 0;
}

.brand-plain {
  width: 100%;
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}

.brand-plain:nth-child(1) {
  margin-top: 100px;
}

.nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #12601e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: #fff;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  -webkit-transition: .5s;
  transition: .5s;
  background: #ffffff80;
  border-radius: 0 0 10px 10px;
  z-index: -1;
}

.nav__link:hover {
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__link:hover::after {
  height: 120%;
}

.fixed {
  position: fixed;
  background: #12601e;
  height: 60px;
  z-index: 100;
  top: 0;
  left: 0;
}

.catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 20px;
  width: 90%;
  margin: auto;
  min-width: 1000px;
  max-width: 1300px;
}

.catalog__menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.catalog__menu-item {
  list-style-type: none;
  padding: 15px 10px;
  margin: 5px 0;
  border-bottom: 2px solid #12601e;
}

.catalog__items-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: center;
  min-height: 200px;
  margin: 10px 0;
}

.catalog__items-image {
  border-radius: 25px;
  border: 3px solid #12601e;
  max-height: 200px;
  overflow: hidden;
}

.catalog__items-image img {
  width: 100%;
  height: 100%;
}

.catalog__items-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  height: 100%;
}

.catalog__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__product-image img {
  width: 100%;
}

.catalog__product-tabs {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.tabs {
  border: 1px solid #e0e0e0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  height: 100%;
  width: 100%;
}

.tabs * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.tabs__nav-link {
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
}

.tabs__nav .active {
  background: #12601e;
  color: #fff;
}

.tabs__content-pane {
  display: none;
  padding: 15px;
}

.tabs__content .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles {
  width: 80%;
  margin: auto;
}

.articles__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 20px 10px;
}

.articles__item-image {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 3px solid #12601e;
  border-radius: 20px;
  overflow: hidden;
}

.articles__item-separator {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#12601e), color-stop(#12601e), color-stop(#12601e), color-stop(#12601e), to(transparent));
  background: linear-gradient(90deg, transparent, #12601e, #12601e, #12601e, #12601e, transparent);
}

.products-article .articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.products-article .articles__item-image {
  width: 300px;
  height: 300px;
}

.products-article .articles__item-image img {
  width: 100%;
  height: 100%;
}

.articles__header {
  text-transform: uppercase;
  width: 100%;
}

#home .intro {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#home .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 20px;
  padding-left: 40px;
}

#home .header span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

#home .header span:last-child {
  font-size: 15px;
}

#home .short-info {
  position: absolute;
  bottom: 130px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#home .short-info__item {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  word-wrap: normal;
}

#home .short-info__item:nth-child(2) {
  margin-top: 20px;
}

#home .company {
  width: 60%;
  margin: auto;
}

#home .company .brand {
  margin: 30px 0;
}

#home .company .company__about .plain-text {
  margin: 25px 0;
  font-size: 18px;
  color: #12601e;
}

#home .company .company__about .plain-text:first-child {
  margin-top: 0;
}

#home .company .company-links {
  width: 100%;
}

#home .company .company-links__background {
  width: 100%;
  padding: 25px 0;
  border: 1px solid #12601e;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  text-align: center;
}

#home .company .company-links__link {
  font-weight: 600;
}

#home .company .arrow-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 50px;
}

#home .company .arrow-bottom i {
  position: absolute;
  font-size: 100px;
  color: #12601e;
  top: 0;
}

#home .company .arrow-bottom i:nth-child(1) {
  opacity: 0.5;
  top: 0;
}

#home .company .arrow-bottom i:nth-child(2) {
  opacity: 0.6;
  top: 30px;
}

#home .company .arrow-bottom i:nth-child(3) {
  opacity: 0.7;
  top: 60px;
}

#home .our-works {
  width: 80%;
  margin: 25px auto;
  margin-top: 50px;
}

#home .our-works .achivements {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: center;
  grid-gap: 20px;
}

#home .our-works .achivements__item {
  position: relative;
  border-radius: 25px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .our-works .achivements__item img {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .our-works .achivements__item .plane > img {
  position: absolute;
  left: 5px;
}

#home .our-works .achivements__item-icon {
  width: 100px;
  height: 100px;
  font-size: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #12601e;
  border-radius: 50%;
  padding: 15px;
  position: relative;
}

#home .our-works .achivements__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 10px 0;
}

#home .our-works .my-projects {
  width: 100%;
  margin: auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .our-works .my-projects .carousel {
  width: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#home .our-works .my-projects .carousel .btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #12601e;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 10;
  opacity: 0.5;
  top: 50%;
  cursor: pointer;
}

#home .our-works .my-projects .carousel .btn:hover {
  opacity: 0.8;
}

#home .our-works .my-projects .carousel .btn--left {
  left: 25px;
}

#home .our-works .my-projects .carousel .btn--right {
  right: 25px;
}

#home .our-works .my-projects .carousel .btn i {
  font-size: 24px;
  color: white;
}

#home .our-works .my-projects .carousel .carousel-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 250px;
  height: 150px;
  background: #eee;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .work-plan {
  width: 80%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .work-plan h2 {
  text-align: center;
}

#home .work-plan .steps-of-work {
  margin: 25px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}

#home .work-plan .steps-of-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home .work-plan .steps-of-work__item-image {
  width: 100px;
  height: 100px;
  border: 4px solid #12601e;
  border-radius: 50%;
}

#home .work-plan .steps-of-work__item-info {
  margin-top: 20px;
}

#home .work-plan .end-step {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}

#home .contacts {
  padding: 50px;
}

#home .contacts h1 {
  margin-bottom: 40px;
  font-size: 40px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#home .content {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 80%;
      grid-template-columns: 30% 80%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 20px;
}

#home .company-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (50px)[3];
      grid-template-rows: repeat(3, 50px);
  grid-gap: 20px;
  height: 100%;
}

#home .company-info__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .company-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .user-info {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#home .user-info__field {
  border: 1px solid #12601e;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
}

#home .user-info__label {
  text-align: right;
  margin-right: 20px;
}

#home .user-info__label, #home .user-info__field {
  margin-bottom: 20px;
}

#home .user-info .btn {
  width: 150px;
  margin: 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #12601e;
}

#home .user-info .btn:hover {
  background: #12601e;
  color: #fff;
}

#button-up {
  position: fixed;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 75px;
  background: #12601e;
  opacity: .7;
  border-radius: 50% 0 0 0;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}

#button-up i {
  font-size: 25px;
  color: #ffffff;
}

.burger {
  position: fixed;
  background: #12601e;
  display: none;
  width: 75px;
  height: 75px;
  right: 0;
  top: 0;
  border-radius: 0 0 0 50%;
  opacity: 0.7;
  z-index: 100;
}

.burger__btn {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 15px);
  width: 30px;
  height: 3px;
  background: #fff;
}

.burger__btn::after, .burger__btn::before {
  content: '';
  position: absolute;
  background: #fff;
  left: 0;
  width: 100%;
  height: 3px;
}

.burger__btn::after {
  top: -10px;
}

.burger__btn::before {
  bottom: -10px;
}

@media screen and (min-width: 1200px) {
  #home .intro {
    background-position: 0 50%;
  }
  #home .company {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 1199px) and (min-width: 1000px) {
  #home .intro .short-info {
    top: 200px;
  }
  #home .company {
    width: 85%;
    margin: auto;
  }
}

@media (max-width: 999px) and (min-width: 768px) {
  #home .intro .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    padding: 20px 0;
    height: 500px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #home .intro .nav__link {
    width: 50%;
    padding: 20px;
  }
  #home .intro .nav__link:hover {
    background: #fff;
  }
  #home .intro .nav__link::after, #home .intro .nav__link::before {
    display: none;
  }
  #home .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #home .company {
    width: 80%;
    margin: auto;
  }
  #home .our-works .achivements {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 0px;
  }
  #home .our-works .my-projects .carousel {
    width: 540px;
  }
  #home .contacts {
    padding: 0;
    width: 100%;
    margin: auto;
  }
  #home .contacts .content {
    padding: 50px 0;
  }
  #home .contacts h1 {
    width: 100%;
    text-align: center;
  }
  #home .contacts .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 0;
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 767px) and (min-width: 350px) {
  .brand {
    font-size: 54px;
  }
  #home {
    background-position: 25% 50%;
  }
  #home .intro .header span {
    font-size: 15px;
  }
  #home .intro .header span:last-child {
    font-size: 13px;
  }
  #home .intro .short-info__item {
    font-size: 15px;
  }
  #home .intro .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #home .intro .nav__link {
    max-width: 100%;
    min-width: 75%;
    padding: 20px 0;
  }
  #home .intro .nav__link:hover {
    background: #fff;
  }
  #home .intro .nav__link::after, #home .intro .nav__link::before {
    display: none;
  }
  #home .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #home .company {
    width: 90%;
    margin: auto;
  }
  #home .our-works .achivements {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 0;
  }
  #home .our-works .my-projects .carousel {
    width: 270px;
  }
  #home .work-plan .steps-of-work {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  #home .contacts {
    width: 100%;
    margin: auto;
    padding: 0 !important;
  }
  #home .contacts h1 {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  #home .contacts .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 0;
    width: 90%;
    margin: auto;
  }
  #home .contacts .content .company-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (30px)[3];
        grid-template-rows: repeat(3, 30px);
    grid-gap: 10px;
  }
  #home .contacts .content .user-info {
    width: 100%;
  }
  #home .contacts .content .user-info__field:not(.btn) {
    width: 100%;
  }
  #button-up {
    right: 0;
    bottom: 0;
    padding: 5px;
    width: 75px;
    height: 75px;
    border-radius: 50% 0 0 0;
  }
}

@media (max-height: 1024px) and (min-height: 500px) {
  #home .intro .short-info {
    bottom: 300px;
  }
}
/*# sourceMappingURL=myNewStyle.css.map */